#design {
    padding: 100px 0px;
}

#design img {
    width: 100%;
    height: 400px;
    margin-top: 40px;
    border-radius: 2px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(70, 70, 70);
}

#design .title {
    width: 100%;
    height: 40vh;
    background-image: url("https://res.cloudinary.com/mariah07/image/upload/v1675197526/consult_pinto/header_h7jfcb.jpg");
    background-size: cover;
    position: relative;
}

#design .triangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    background-color: rgba(50, 31, 79, 0.265);
}

#design h1 {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 1.4em;
    font-weight: 300;
    text-transform: uppercase;
    text-shadow: 0.5px 0.5px 0 white;
    letter-spacing: 0.06em;
    color: rgb(254, 254, 254);
    border-bottom-right-radius: 25px;
    margin-left: 20px;
}

#design .banner {
    padding-left: 40px;
    border-left: 2px ridge grey;
    position: relative;
    margin-top: 50px;
}

#design .banner .border {
    border-left: 3px solid rgba(136, 121, 159, 0.582);
    position: absolute;
    top: 15%;
    bottom: 30%;
    left:0px;
}

.services-section {
    padding: 100px 60px 0 60px;
    display: flex;
    justify-content: space-evenly;
}

.services-section .text {
    width: 50%;
    margin-top: 50px;
}

.services-section .image {
    width: 40%;
}

.services-section .image .effect {
    border-left: 35vw solid transparent;
    border-right: 5vw solid transparent;
    margin-top: -100px;
}

.services-section .image #effect-en {
    border-top: 14vw outset burlywood;
}

.services-section .image #effect-pj {
    border-top: 14vw outset rgb(87, 83, 107);
}

.services-section .image #effect-ir {
    border-top: 14vw outset rgb(129, 141, 129);
}


.banner p {
    width: 95%;
    font-size: 1.1em;
    line-height: 1.34em;
    letter-spacing: 0.06em;
    word-spacing: 0.2em;
    margin-left: 30px;
    margin-top: 40px;
    padding-bottom: 20px;
    color: rgb(82, 82, 82);
}

.banner h2 {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.2em;
    color:rgb(93, 93, 93);
}