#design {
    padding: 70px 80px
}

#design img {
    width: 50%;
    height: 500px;
    border-radius: 2px;
    margin-bottom: 30px;
    border: 2px inset rgb(80, 48, 125);
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgb(70, 70, 70);
}

#design .title {
    width: 70%;
    padding-bottom: 40px;
}

#design h1 {
    font-size: 3.5em;
    font-weight: 400;
    color: rgb(70, 64, 71);
    border-bottom-right-radius: 25px;
    text-shadow: 1px 1px 0 grey;
    font-style: italic;
    margin-left: 20px;
}

#design .triangle {
    margin-top: -50px;
    width: 60vw;
    height: 0;
    border-top: 18px solid rgba(68, 61, 79, 0.591);
    border-right: 800px solid transparent;
}

#design .banner {
    padding-left: 40px;
    border-left: 2px ridge grey;
    margin: 40px 0;
    position: relative;
}

#design .banner .border {
    border-left: 2px solid #261352;
    position: absolute;
    top: 15%;
    bottom: 30%;
    left:0px;
}

.services-section {
    display: flex;
}

.banner p {
    width: 80%;
    font-size: 1.2em;
    line-height: 1.34em;
    letter-spacing: 0.03em;
    word-spacing: 0.2em;
}

.banner h2 {
    font-size: 1.7em;
    text-transform: uppercase;
}