#design {
    padding: 100px 80px
}

#design img {
    width: 70%;
    border-radius: 5px;
    margin-bottom: 30px;
}

#design h1 {
    font-size: 3em;
    color:rgb(90, 74, 90);
    font-weight: 600;
    text-shadow: 1px 1px grey;
}

#design .banner {
    padding: 15px 40px;
}

.banner p {
    width: 80%;
    font-size: 1.2em;
}

.banner h2 {
    font-size: 1.7em;
    text-transform: uppercase;
}