
#services .services-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    color:white;
    background-image: url("./services.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

#services .services-section {
    padding: 50px;
}

#services .services-section .service {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    border: 2px solid rgba(0, 0, 0, 0.199);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 50px;
    box-shadow: 5px 10px rgba(128, 128, 128, 0.096);
}

.services-section .service img{
    width: 30%;
    margin-right: 10px;
}

.services-section .service .text{
    width: 55%;
    padding: 20px;
}

.services-section .service .text p{
    padding-bottom: 20px;
}

.services-section .service a {
    padding: 15px 20px;
    color: white;
    border: none;
    background-color: rgb(161, 158, 173);
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}

.services-section .service a:hover {
    background-color: rgb(90, 74, 90);
}

