
#services .services-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    text-shadow: 0 0 10px black;
    color:white;
    background-image: url("./services.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

#services .services-section {
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services .services-section .service {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    border: 2px solid rgba(0, 0, 0, 0.199);
    border-radius: 5px;
    padding: 40px 10px;
    margin-bottom: 100px;
    width: 80%;
    box-shadow: 5px 10px rgba(128, 128, 128, 0.096);
}

.services-section .service img{
    width: 35%;
    margin-right: 10px;
    border-radius: 5px;
}

.services-section .service .text{
    width: 45%;
    padding: 20px;
}

.services-section .service .text p{
    padding-bottom: 20px;
    font-size: 1.2em;
}

.services-section .service .text h2{
    font-size: 2em;
    color:rgb(90, 74, 90);
}

.services-section .service a {
    padding: 15px 40px;
    color: white;
    border: none;
    background-color: rgb(161, 158, 173);
    border-radius: 5px;
    font-size: 1.4em;
    transition: all 0.3s ease-in-out;
}

.services-section .service a:hover {
    background-color: rgb(90, 74, 90);
}

