#contact {
    padding-bottom: 100px;
}

#contact .contact-header {
    background-color:rgb(150, 144, 144); 
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 2px black;
    height: 25vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact .contact-header h1{
    padding-top: 100px;
    margin:0;
}

.contact-main {
    padding-top: 30px;
}

#contact .contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .contact-form form {
    width: 50%;
}

#contact .contact-form .form-row {
    padding-top: 15px;
}

#contact .contact-form .form-row label {
    display: block;
    padding-bottom: 7px;
    font-size: medium;
    font-weight: 600;
}

#contact .contact-form .row-one {
    display: flex;
    justify-content: space-between;
}

#contact .contact-form .row-one .name {
    width: 47%;
}

#contact .contact-form .row-one .email {
    width: 47%;
}

#contact .contact-form .form-row .input-one {
    width: 100%;
}

#contact .contact-form .form-row .input-two {
    width: 100%;
}

#contact .contact-form .form-row input {
    width: 45%;
    border: none;
    background-color: rgb(235, 235, 235);
    height: 40px;
    border-radius: 5px;
    text-size-adjust: 2em;
    padding: 10px;
    font-size: large;
}

#contact .contact-form .form-row textarea {
    width: 100%;
    height: 300px;
    border: none;
    background-color: rgb(235, 235, 235);;
    border-radius: 5px;
    padding: 10px;
    font-size: large;
}

#contact .contact-form .form-row button {
    width: 100%;
    padding: 20px 0;
    border:none;
    text-transform: uppercase;
    font-size: small;
    color:white;
    background-color: rgb(61, 26, 94);
    border-radius: 5px;
    transition: all 0.3s ease;
}

#contact .contact-form .form-row button:hover {
    background-color: lightgray;
    cursor: pointer;
}

#contact .company-info {
    display: flex;
    justify-content:center;
    padding-bottom: 50px;
}

#contact .company-info .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    padding: 50px 60px;
}

#contact .company-info h2 {
    font-size: 2em;
    color:darkslategray;
}

#contact .company-info p {
    font-size: 1em;
    font-weight: 400;
}

#contact .company-info p a {
    color: darkslategray;
    font-style: italic;
}

#contact .company-info p a:hover {
    color: purple;
}

#contact .company-info img {
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 200px;
}

#contact .company-contact {
    display: flex;
    padding-top: 30px;
    padding-bottom: 20px;
}

#contact .company-contact .company-box {
    padding: 40px;
    color: black;
    font-weight:500;
    display: flex;
    justify-content: space-evenly;
    border: 12px solid rgba(66, 62, 62, 0.678);
    border-style: outset;
}

#contact .company-contact .company-box p {
    font-weight: 400 !important;
}

#contact .company-contact .company-box a {
    text-decoration: none;
    color: rgb(48, 38, 48);
}

.company-contact .company-box ul {
    list-style: none;
}

.company-contact .company-box ul li i{
    padding-right: 5px;
}

#halifax {
    background-color: white;
    width: 30%;
}

#map {
    width: 40%;
}

#stjohn {
    background-color: white;
    width: 30%;
}
