#contact {
    padding-bottom: 100px;
}

#contact .contact-header {
    background-color: rgb(66, 62, 62);
    color: rgb(218, 209, 219);
    padding: 20px 50px;
    font-size: 3em;
}

#contact .company-info {
    display: flex;
    justify-content:space-between;
    padding-bottom: 50px;
}

#contact .company-info .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    padding: 50px 60px;
}

#contact .company-info h2 {
    font-size: 2em;
    color:darkslategray;
}

#contact .company-info p {
    font-size: 1em;
    font-weight: 400;
}

#contact .company-info p a {
    color: darkslategray;
    font-style: italic;
}

#contact .company-info p a:hover {
    color: purple;
}

#contact .company-info img {
    width: 50%;
    height: fit-content;
    border-bottom-left-radius: 200px;
}

#contact .company-contact {
    display: flex;
    padding-top: 30px;
    padding-bottom: 20px;
}

#contact .company-contact .company-box {
    padding: 40px;
    color: black;
    font-weight:500;
    display: flex;
    justify-content: space-evenly;
    border: 12px solid rgba(66, 62, 62, 0.678);
    border-style: outset;
}

#contact .company-contact .company-box p {
    font-weight: 400 !important;
}

#contact .company-contact .company-box a {
    text-decoration: none;
    color: rgb(48, 38, 48);
}

.company-contact .company-box ul {
    list-style: none;
}

#halifax {
    background-color: white;
    width: 30%;
}

#map {
    width: 40%;
}

#stjohn {
    background-color: white;
    width: 30%;
}
