.home-section {
    width:100%;
    background-color: white;
  }
  
  .hero {
    background-image: url('https://res.cloudinary.com/mariah07/image/upload/v1675274526/consult_pinto/construction_now_pjgvoy.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(245, 245, 245);
    padding-top: 10px;
    padding-bottom: 150px;
    min-height: 100vh;
    width:inherit;
    overflow: hidden;
  }

  .hero video {
    object-fit: fill;
    width: 100%;
    height: 100%;
    position:absolute;
    left:0px;
    top:0px;
    overflow:hidden;
  }

  .hero video source{
    width: 100%;
    height: 100%;
  }

  .hero .button-area {
    margin-top: 70px;
  }

  .hero .button-area button:hover, a:hover{
    cursor: pointer;
  }

  .hero .button-area button, #project-button {
    padding: 15px 0;
    width: 280px;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 600;
  }

  .hero .button-area #project-button {
    padding: 15px 30px;
    background: linear-gradient(70deg, rgb(66, 37, 66), rgba(188, 174, 197, 0.516));
    color: beige;
    border: none;
  }

  .hero .button-area #services-button {
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.091);
    border: 1px solid white;
    text-shadow: 0.5px 0 0 grey;
    color: white;
  }
  
  .hero .hero-text {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 200px 0 20px 0;
    margin-left: 5%;
    width: 50%;
    z-index: 1;
  }

  .hero .box-content {
    position: absolute;
    top: 30%;
    right: 13%;
    width: 30%;
    height: 50%;
    background-color: white;
  }
  
  .hero h1{
    margin:0;
    font-size: 2.5em;
    word-spacing: 0.18em;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: whitesmoke;
    font-family: 'IBM Plex Serif';
    line-height: 1.8em;
    z-index: 2;
    text-shadow: 1px 0 10px rgb(62, 62, 62), 0 0 50px black;
  }
  
  .hero span {
    position: absolute;
    right: 8.5%;
    bottom: 11%;
    font-size: 1.4em;
    color: white;
    z-index: 1;
    width: 0;
  }

  .hero span button {
    position: relative;
    background-color: transparent;
    border: none;
    color:white;
    padding-right: 130px;
    transform: rotate(90deg);
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 500;
    font-style: italic;
    text-shadow: 1px 0 10px rgb(62, 62, 62);
  }

  .hero span button::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-top: 1.5px solid rgb(255, 255, 255);
    border-left: 70px solid rgb(255, 255, 255);
    border-right: 70px solid white;
    right: -13%;
    bottom: 45%;
    z-index: 2;
  }

  .hero .border-pulse {
    position: absolute;
    right: -35%;
    bottom: -20%;
    width: 10px;
    height: 20px;
    background: linear-gradient(
      183deg,
      rgb(193, 193, 193),
      rgba(255, 255, 255, 0.5),
      transparent 50%
    );
    animation: animateTop 2.5s linear infinite;
  }


  .between {
    position: relative;
    overflow: hidden;
  }

  .between .anchor {
    position: absolute; 
    top: -50px;
    right: 0;
  }

  .between .services-items {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 40px;
    background-color: rgb(224, 171, 142);
    overflow: visible;
  }

  .between .services-items .services-desc {
    padding-top: 20px;
    z-index: 1;
    width: 47%;
  }

  .between .services-items .services-desc:nth-child(2) {
    min-height: 450px;
  }

  .between .services-items .services-desc h2 {
    font-weight: 100;
    font-size: 1.8em;
    line-height: 1.9em;
    letter-spacing: 0.1em;
    color:rgb(81, 81, 81);
  }

  .between .services-items .services-desc h4 {
    padding-top: 50px;
    font-weight: 100;
    letter-spacing: 0.06em;
    font-size: 1.1em;
    margin-left:50px;
    line-height: 1.6em;
    color:rgb(71, 71, 71);
  }

  .between .services-items .services-desc h4::first-letter {
    margin-left: 10px;
    font-size: 1.2em;
  }

  .between .services-items img {
    z-index: 1;
    width: 35%;
    height: 300px;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.518);
  }

  .between .services-items:nth-child(1) {
    padding-top: 100px;
  }

  .between .services-items:nth-child(3) {
    padding-bottom: 100px;
  }

  .between .services-items:nth-child(1)::before {
    background-color: #fff;
    content: '';
    height: 708px;
    left: 0;
    position: absolute;
    top: 0;
    width:80%;
  }

  .between .services-items:nth-child(2)::before {
    background-color: #fff;
    content: '';
    height: 608px;
    right: 0;
    position: absolute;
    top: 35%;
    width: 57%;
  }

  .between .services-items:nth-child(3)::before {
    background-color: #fff;
    content: '';
    height: 700px;
    left: 0;
    position: absolute;
    top: 63%;
    width: 65%;
  }
  
  .scrolltop h2 {
    font-weight: 400;
    color: black;
    text-shadow: 1px 0px 1px white;
    font-size: 2em;
    font-family: 'IBM Plex Serif';
    margin-bottom: 30px;
    font-style: italic;
  }
  
  .scroll-bottom {
    display: flex;
  }
  
  .scrolltop {
    padding: 20px;
    background: linear-gradient(200deg, rgb(224, 171, 142) 70%, white 30%);
    top: 50px;
    position:sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    text-align: center;
    height: 20vh;
  }

  .animation {
    background-color: white;
    width: 50%;
  }
  
  .animation .panel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    position: sticky;
    top: calc(25.5vh);
  }

  .animation .panel-text {
    border: 10px solid rgb(230, 229, 229);
  }
  
  .panel h3 {
    font-weight: 300;
    color: rgb(74, 74, 74);
    font-size: 2.1em;
    font-style: italic;
    line-height: 1.3em;
    word-spacing: 0.1em;
    letter-spacing: 0.1em;
    margin-top: -10px;
    text-align: center;
  }

  .panel .text {
    background-color: white;
    border-radius: 2px;
    padding: 15px 80px;
    height: fit-content;
    font-weight:400;
    width: 85%;
    z-index: 1;
    font-size: 1em;
    line-height: 1.6em;
    letter-spacing: 0.1em;
    color:rgb(71, 71, 71);
    border-bottom: 1px dashed rgb(0, 255, 255);
    border-right: 1.2px dashed rgb(0, 255, 255);
    padding-bottom: 40px;
  }
  
  #panel1 {
    background-color: white;
    height: 80vh;
  }
  
  #panel2 {
    background-image: url('../img/church.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    background-color: rgb(144, 177, 118);
    border: 80px outset white;
    border-top: 120px solid white;
    height: 160vh;
  }
  
  #panel3 {
    background-color:white;
    height: 80vh;
  }

  #panel5 .text {
    border: none;
    border-top: 1px dashed orangered;
    border-left: 1.2px dashed orangered;
    padding-top:50px;
    margin-top: -50px;
  }

  #panel4 {
    background-image: url('../img/ISL_Building_Pic.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    background-color: aquamarine;
    border: 80px solid white;
    border-top: 120px solid white;
    height: 160vh;
  }

  #panel5 {
    background-color: white;
    height: 80vh;
  }

  #panel6 {
    background-image: url('../img/armourysquare-bighero_960_411_c1.jpg');
    background-repeat:no-repeat;
    background-size: contain;
    background-color: burlywood;
    border: 80px solid white;
    border-top: 120px solid white;
    height: 80vh;
  }

  .panel span {
    position: absolute;
    border-radius: 100vmax;
  }

  @keyframes animateTop {
    25% {
      width: 100%;
      opacity: 1;
    }

    30%,
    100% {
      opacity: 0;
    }
  }
  
  .bottom-panel {
    height: 100px;
    background: linear-gradient(360deg, rgb(39, 38, 40) 50%, rgb(255, 255, 255) 58%, rgba(255, 255, 255, 0.398) 300%);
    z-index:1;
  }

  .video-section {
    display: flex;
    background-color: rgb(39, 38, 40) ;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
  }

  .video-section p {
    padding-bottom: 40px;
    font-size: 2em;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0.05em;
    color: whitesmoke;
    width: 60%;
    text-align: center;
    line-height: 1.5em;
    text-transform: capitalize;
    margin-bottom: -20px;
  }

  .end-page {
    background: rgb(134,134,134);
    background: linear-gradient(170deg, rgb(40, 40, 38) 50%, white 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
  }

  .end-page .questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 180px;
  }

  .end-page .questions h2 {
    font-weight: 400;
    margin-top: 5px;
    color: white;
    font-size: 2em;
    letter-spacing: 0.1em;
    padding-bottom: 5px;
  }

  .end-page .questions a {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    margin-top: -20px;
    text-transform: uppercase;
    padding:20px 40px;
    transition: all 0.3s ease;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.1em;
  }

  .end-page .questions a:hover {
    background-color: lightgray;
    color: black;
    cursor: pointer;
  }