.home-section {
    width:100;
    background-color: white;
  }
  
  .hero {
    background-image: url('https://imgur.com/vErTeU9.gif');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(245, 245, 245);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 150px;
    min-height: 100vh;
  }

  .hero::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 3px dotted rgb(255, 255, 255);
    border-top: 60px dotted rgb(255, 255, 255);
    border-bottom: 60px dotted white;
    right: 3%;
    bottom: 0;
    z-index: 2;
  }
  
  .hero .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 240px 0 20px 0;
    width: 80%;
  }
  
  .hero h1{
    margin:0;
    font-size: 3em;
    word-spacing: 0.18em;
    letter-spacing: 0.15em;
    font-weight: 500;
    color: white;
    line-height: 2.2em;
  }
  
  .hero p {
    position: absolute;
    right: 1.2%;
    bottom: 12%;
    font-size: 1.4em;
    color: white;
    padding-bottom: 20px;
  }

  .hero p button {
    background-color: transparent;
    border: none;
    color:white;
    transform: rotate(90deg);
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 500;
    font-style: italic;
  }

  .between {
    position: relative;
  }

  .between .anchor {
    position: absolute; 
    top: -50px;
    right: 0;
  }

  .between .services-items {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 40px;
    background-color: rgb(230, 222, 212);
    overflow: visible;
  }

  .between .services-items .services-desc {
    z-index: 1;
    width: 50%;
  }

  .between .services-items .services-desc h2 {
    font-weight: 100;
    font-size: 2em;
    line-height: 2em;
    word-spacing: 0.1em;
  }

  .between .services-items .services-desc h4 {
    font-weight: 100;
    font-size: 1.2em;
    margin-left:50px;
    line-height: 1.6em;
    color:rgb(71, 71, 71);
  }

  .between .services-items img {
    z-index: 1;
    width: 35%;
    height: 300px;
  }

  .between .services-items:nth-child(1) {
    padding-top: 100px;
  }

  .between .services-items:nth-child(3) {
    padding-bottom: 100px;
  }

  .between .services-items:nth-child(1)::before {
    background-color: #fff;
    content: '';
    height: 608px;
    left: 0;
    position: absolute;
    top: 0;
    width:80%;
  }

  .between .services-items:nth-child(2)::before {
    background-color: #fff;
    content: '';
    height: 508px;
    right: 0;
    position: absolute;
    top: 35%;
    width: 57%;
  }

  .between .services-items:nth-child(3)::before {
    background-color: #fff;
    content: '';
    height: 700px;
    left: 0;
    position: absolute;
    top: 60%;
    width: 60%;
  }
  
  .scrolltop h2 {
    font-weight: 400;
    color: rgb(74, 74, 74);
    font-size: 2em;
    font-family: 'IBM Plex Serif';
    margin-bottom: 30px;
    font-style: italic;
  }
  
  .scroll-bottom {
    display: flex;
  }
  
  .scrolltop {
    padding: 20px;
    background-color:whitesmoke;
    color:black;
    top: 50px;
    position:sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    text-align: center;
    height: 20vh;
  }

  .animation {
    background-color: white;
    width: 50%;
  }
  
  .animation .panel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    position: sticky;
    top: calc(25.5vh);
  }

  .animation .panel-text {
    border: 15px inset whitesmoke;
  }

  .animation .panel-image {
    border: 50px outset whitesmoke;
  }
  
  .panel h3 {
    font-weight: 600;
    color: rgb(74, 74, 74);
    font-size: 2.1em;
    font-style: italic;
    line-height: 1.3em;
    word-spacing: 0.1em;
    letter-spacing: 0.1em;
    margin-top: -10px;
    text-align: center;
  }

  .panel .text {
    background-color: white;
    border-radius: 2px;
    padding: 15px 80px;
    height: fit-content;
    font-weight:400;
    width: 85%;
    z-index: 1;
    font-size: 1.1em;
    line-height: 1.6em;
    letter-spacing: 0.05em;
    color:rgb(71, 71, 71);
  }
  
  #panel1 {
    background-color: white;
    height: 80vh;
  }
  
  #panel2 {
    background-image: url('../img/church.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    background-color: rgb(144, 177, 118);
    height: 160vh;
  }
  
  #panel3 {
    background-color:white;
    height: 80vh;
  }

  #panel4 {
    background-image: url('../img/ISL_Building_Pic.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    background-color: aquamarine;
    height: 160vh;
  }

  #panel5 {
    background-color: white;
    height: 80vh;
  }

  #panel6 {
    background-image: url('../img/armourysquare-bighero_960_411_c1.jpg');
    background-repeat:no-repeat;
    background-size: contain;
    background-color: burlywood;
    height: 80vh;
  }
  
  .bottom {
    height: 100px;
    background-color: white;
    z-index:1;
  }

  .video-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
  }
  
  .quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
  }
  
  .quote .bubble {
    width: 50%;
    padding: 15px;
    position: relative;
    background-color: whitesmoke;
    border-radius: 10px;
  }
  
  .quote .bubble i {
    font-size: 2em;
    color: white;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  }
  
  .quote .bubble p {
    padding-left: 10px;
    font-size: 0.92em;
    font-weight: 400;
    color: rgb(37, 37, 37);
  }
  
  .quote .author {
    text-align: center;
  }
  
  .quote .author a {
    color: rgb(64, 18, 102);
    transition: all 0.3 ease-in-out;
  }
  
  .quote .author a:hover {
    color: darkgray;
  }
  
  .quote .bubble:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid whitesmoke;
    border-right: 12px solid transparent;
    border-top: 12px solid whitesmoke;
    border-bottom: 20px solid transparent;
    right: 50px;
    bottom: -25px;
  }

  .end-page {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .end-page .questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
  }

  .end-page .questions h2 {
    font-weight: 400;
    font-size: 2em;
  }

  .end-page .questions a {
    border: none;
    border-radius: 20px;
    background-color: rgb(33, 30, 35);
    color: white;
    text-transform: uppercase;
    padding:11px 15px;
    border: none;
    transition: all 0.3s ease;
    font-weight: 500;
    text-align: center;
  }

  .end-page .questions a:hover {
    background-color: lightgray;
    color: black;
    cursor: pointer;
  }