.home-section {
    width:100;
    background-color: white;
  }
  
  .hero {
    background-image: url('./building2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: rgb(245, 245, 245);
    font-size: 1.5em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 150px;
    min-height: 100vh;
  }

  .hero::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid rgb(73, 17, 73);
    border-right: 10px solid purple;
    border-top: 40px solid rgb(73, 17, 73);
    border-bottom: 40px solid purple;
    right: 52.5%;
    bottom: -10px;
    z-index: 2;
  }
  
  .hero .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20%;
    padding: 0 20px;
    background-color: rgba(240, 240, 240, 0.95);
    width: 30%;
    border-radius: 5%;
  }
  
  .hero h1{
    margin:0;
    font-size: 2.5em;
    font-weight: 350;
    color: rgb(43, 43, 43);
    padding: 30px 0 20px 0;
  }
  
  .hero p {
    width: 75%;
    font-size: 0.7em;
    font-weight: 430;
    color: black;
    padding-bottom: 20px;
  }
  
  .scrolltop h2 {
    font-size: 3em;
    margin-bottom: 30px;
  }
  
  .scrolltop a {
    font-size: 2em;
  }
  
  .scroll-bottom {
    display: flex;
  }
  
  .scrolltop {
    padding: 20px;
    background-color:white;
    color:black;
    top: 50px;
    position:sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    text-align: center;
    height: 20vh;
  }
  
  .scrolltop h2 {
    font-weight: 350;
    color: black;
    font-size: 2.6em;
  }

  .animation {
    background-color: white;
    width: 50%;
  }
  
  .animation .panel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    position: sticky;
    top: calc(25vh);
  }
  
  .panel h3 {
    color:rgb(51, 51, 51);
    font-weight: 600;
    font-size: 3em;
    margin-top: -10px;
  }

  .panel .text {
    background-color: white;
    border-radius: 2px;
    padding: 10px;
    height: fit-content;
    font-weight:400;
    width: 60%;
    z-index: 1;
    font-size: 1.2em;
  }
  
  #panel1 {
    background-color: white;
    height: 80vh;
  }
  
  #panel2 {
    background-image: url('../img/church.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    background-color: rgb(144, 177, 118);
    height: 160vh;
  }
  
  #panel3 {
    background-color:white;
    height: 80vh;
  }

  #panel4 {
    background-image: url('../img/ISL_Building_Pic.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    background-color: aquamarine;
    height: 160vh;
  }

  #panel5 {
    background-color: white;
    height: 80vh;
  }

  #panel6 {
    background-image: url('../img/armourysquare-bighero_960_411_c1.jpg');
    background-repeat:no-repeat;
    background-size: contain;
    background-color: burlywood;
    height: 80vh;
  }
  
  .bottom {
    height: 100px;
    background-color: white;
    z-index:1;
  }
  
  .quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
  }
  
  .quote .bubble {
    width: 50%;
    padding: 15px;
    position: relative;
    background-color: whitesmoke;
    border-radius: 10px;
  }
  
  .quote .bubble i {
    font-size: 2em;
    color: white;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  }
  
  .quote .bubble p {
    padding-left: 10px;
    font-size: 0.92em;
    font-weight: 400;
    color: rgb(37, 37, 37);
  }
  
  .quote .author {
    text-align: center;
  }
  
  .quote .author a {
    color: rgb(64, 18, 102);
    transition: all 0.3 ease-in-out;
  }
  
  .quote .author a:hover {
    color: darkgray;
  }
  
  .quote .bubble:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid whitesmoke;
    border-right: 12px solid transparent;
    border-top: 12px solid whitesmoke;
    border-bottom: 20px solid transparent;
    right: 50px;
    bottom: -25px;
  }

  .end-page {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .end-page .questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
  }

  .end-page .questions a {
    border: none;
    border-radius: 25px;
    background-color: rgb(64, 20, 105);
    color: white;
    text-transform: uppercase;
    padding:20px 20px;
    transition: all 0.3s ease;
  }

  .end-page .questions a:hover {
    background-color: lightgray;
    cursor: pointer;
  }