.home-section {
    width:100;
    background-color: white;
  }
  
  .hero {
    background-image: url('./building2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(245, 245, 245);
    font-size: 1.5em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 150px;
    min-height: 100vh;
  }
  
  .hero .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }
  
  .hero h1{
    margin:0;
    font-size: 3em;
    margin-top: 100px;
    font-weight: 350;
    color: rgb(43, 43, 43);
    padding: 10px;
  }
  
  .hero p {
    width: 70%;
    font-size: 0.8em;
    font-weight: 400;
    color: black;
    text-shadow: 0 0 30px white, 0 0 20px white;
    padding: 30px 10px;
  }

  .scrolltop {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.404);
  }
  
  .scrolltop h2 {
    font-size: 3em;
    margin-bottom: 30px;
  }
  
  .scrolltop a {
    font-size: 2em;
  }
  
  .between {
    display: flex;
    background-color: white;
    color:black;
    min-height: 100vh;
    border-top: 10px double lightgray;
    border-bottom: 10px double lightgray;
  }

  .between .image {
    width: 53%;
  }

  .between .image img {
    object-fit: cover;
    width: 100%;
    border-radius: 0;
    height: 100%;
    border: 10px inset rgb(248, 248, 248);
  }

  .between .text {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .between h2 {
    font-size: 2.2em;
    margin: 0px;
    font-weight: 500;
    color: white;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  }
  
  .between a{
    background-color: rgb(238, 236, 236);
    border: 5px;
    color: black;
    padding: 10px 30px;
  }
  
  .between p {
    width: 80%;
    font-size: 1.12em;
    font-weight: 450;
    padding: 30px;
    border: 2px ridge grey;
    box-shadow: 10px 30px 10px rgba(128, 128, 128, 0.13);
  }
  
  .scrolltop {
    padding: 20px;
    background-color:white;
    color:black;
    top: 50px;
    position:sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    text-align: center;
    height: 30vh;
  }
  
  .animation {
    background-color: lightslategrey;
  }

  .scrolltop h2 {
    font-weight: 400;
    color: black;
    font-size: 2.5em;
  }
  
  .scrolltop a {
    text-transform: uppercase;
    margin-bottom: 30px;
    border-radius: 25px;
    padding: 10px 60px;
    border: 1px solid rgb(150, 144, 151);
    background-color: rgb(150, 144, 151);
    color:white;
    border: none;
    font-size: 1.3em;
    transition: all 0.3s ease-in-out;
    border: 4px outset white;
  }
  
  .scrolltop a:hover {
    background-color:rgb(68, 54, 68);
  }

  .animation {
    background-color: white;
  }
  
  .panel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
    overflow: hidden;
  }
  
  .panel h3 {
    color:rgb(123, 116, 124)
  }
  
  .panel .image {
    display:flex;
    justify-content: center;
    width: 50%;
  }
  
  .panel img {
    width: 90%;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.575);
  }
  
  .panel .text {
    background-color: rgba(253, 253, 249, 0.829);
    border-radius: 10px;
    padding: 20px;
    height: fit-content;
    width: 40%;
    z-index: 1;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.219);
  }
  
  #panel1 {
    background-color: white;
    position: sticky;
    top: calc(35vh);
  }
  
  #panel2 {
    background-color:rgb(236, 236, 236);
    position: sticky;
    top: calc(35vh);
  }
  
  #panel3 {
    background-color:white;
    position: sticky;
    top: calc(35vh);
  }
  
  .bottom {
    height: 50px;
    background-color: white;
    z-index:1;
  }
  
  .quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    background-color: white;
  }
  
  .quote .bubble {
    width: 50%;
    padding: 15px;
    position: relative;
    color: black;
    background-color: lightgray;
    border-radius: 10px;
  }
  
  .quote .bubble i {
    font-size: 2em;
    color: white;
  }
  
  .quote .bubble p {
    padding-left: 10px;
    font-size: 0.9em;
  }
  
  .quote .author {
    text-align: center;
  }
  
  .quote .author a {
    color: rgb(63, 18, 63);
    transition: all 0.3 ease-in-out;
  }
  
  .quote .author a:hover {
    color: darkgray;
  }
  
  .quote .bubble:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid lightgray;
    border-right: 12px solid transparent;
    border-top: 12px solid lightgray;
    border-bottom: 20px solid transparent;
    right: 50px;
    bottom: -25px;
  }