#about .about-header {
    font-size: 2em;
    display:flex;
    justify-content: center;
}

#about .main-content {
    padding: 80px;
}

#about .main-content .text {
    padding: 20px;
    font-size: 1.1em;
    font-weight: 400;
    color: rgb(43, 43, 43);
}