.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.aos-animate {
  pointer-events: auto;
}

.home-section {
  width:100;
  background-color: cornsilk;
  padding: 20px 0;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: darkred;
  font-size: 1.5em;
  text-align: center;
}

.hero a {
  padding: 5px 60px;
  border: 1px solid white;
  background-color: darkcyan;
  border-radius: 5%;
  color:white;
  text-transform: uppercase;
}

h1{
  font-size: 4em;
  margin-bottom: -1px;
}

.between {
  width: 100%;
  height: 400px;
}

.scrolltop {
  margin-top: 100px;
  padding: 50px;
  background-color: aqua;
  /* position: sticky; */
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.animation {
    position: absolute;
    width:100%;
    height:100%;
}

.animation .panel {
}

#panel1 {
  background-color: red;
  
  position: sticky;
  top: calc(45vh + var(0));
}

#panel2 {
  background-color:green;
}


