html, body * {
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  transition: all 0.3 ease-in-out;
}

.aos-animate {
  pointer-events: auto;
}

/* Home Page */

.home-section {
  width:100;
  background-color: white;
}

.hero {
  background-image: url('../img/pexels-photo-12.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(65, 51, 66);
  font-size: 1.5em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 150px;
  min-height: 100vh;
}

.hero h1{
  font-size: 3em;
  margin-bottom: -1px;
  margin-top: 100px;
  text-shadow: 0 0 2px grey, 0 0 2px whitesmoke, 0 0 2px whitesmoke, 0 0 2px whitesmoke, 0 0 2px whitesmoke;
  padding: 10px;
}

.hero p {
  width: 50%;
  font-weight: 600;
  color: rgb(235, 235, 235);
  text-shadow: 2px 2px 4px black, 0 0 1px grey, 0 0 1px grey;
  padding: 30px 10px;
}

.hero a {
  padding: 10px 60px;
  transition: all 0.4 ease-in-out;
  font-size: 1.5em;
  border-radius: 10px;
  border: 1px solid rgb(27, 14, 26);
  color: rgb(27, 14, 26);
  background-color: transparent;
}
.hero a:hover {
  background-color: rgb(27, 14, 26);
  color: whitesmoke;
}

.scrolltop h2 {
  font-size: 3em;
  margin-bottom: 30px;
}

.scrolltop a {
  font-size: 2em;
}

.between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  color:black;
  min-height: 100vh;
  padding-bottom: 100px;
}

.between h2 {
  font-size: 4em;
  margin-bottom: 0px;
  color: rgb(206, 202, 202);
}

.between a{
  background-color: white;
  color: black;
  padding: 10px 30px;
}

.between p {
  width: 50%;
  font-size: 1.1em;
  font-weight: 450;
  padding: 30px;
}

.between img{
  border-radius: 5%;
}

.scrolltop {
  padding: 20px;
  background-color:lightslategrey;
  color:white;
  top: 50px;
  position:sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  text-align: center;
  height: 30vh;
}

.animation {
  background-color: lightslategrey;
}

.scrolltop a {
  text-transform: uppercase;
  border-radius: 25px;
  padding: 10px 60px;
  border: 1px solid rgb(150, 144, 151);
  background-color: rgb(43, 48, 48);
  color:white;
  border: none;
  transition: all 0.4 ease-in-out;
}

.scrolltop a:hover {
  background-color: rgb(150, 144, 151);;
}

.panel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
  overflow: hidden;
}

.panel h3 {
  color:rgb(123, 116, 124)
}

.panel .image {
  display:flex;
  justify-content: center;
  width: 40%;
}

.panel img {
  height:80%;
  max-width: 700px;
  border-radius: 10px;
}

.panel .text {
  background-color: rgba(245, 245, 220, 0.829);
  border-radius: 10px;
  padding: 20px;
  height: fit-content;
  width: 40%;
  z-index: 1;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.219);
}

#panel1 {
  background-color: rgb(231, 231, 231);
  position: sticky;
  top: calc(35vh);
}

#panel2 {
  background-color:rgb(194, 194, 194);
  position: sticky;
  top: calc(35vh);
}

#panel3 {
  background-color:rgb(148, 148, 148);
  position: sticky;
  top: calc(35vh);
}

.bottom {
  height: 100px;
  background-color: white;
  z-index:1;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.quote .bubble {
  width: 50%;
  padding: 15px;
  position: relative;
  background-color: lightgray;
  border-radius: 10px;
}

.quote .bubble i {
  font-size: 2em;
  color: white;
}

.quote .bubble p {
  padding-left: 10px;
}

.quote .author {
  text-align: center;
}

.quote .bubble:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid lightgray;
  border-right: 12px solid transparent;
  border-top: 12px solid lightgray;
  border-bottom: 20px solid transparent;
  right: 50px;
  bottom: -25px;

}