#footer {
    background-color: lightgray;
}

.footer{
    display:flex;
    padding: 50px 60px;
    background-color: lightgray;
    color: black;
}

.footer-content {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc p {
    font-size: 0.92em;
}

.footer-content h3 {
    color: rgb(73, 73, 73);
    font-size: 1.3em;
    text-transform: uppercase;
}

.footer-content ul {
    list-style: none;
    margin:0;
    padding: 0;
}

.footer-content ul li a {
    text-decoration: none;
    color: black;
    transition: all 0.3 ease-in-out;
}

.footer-content ul li a:hover {
    color: lightslategray;
}

.footer-content ul {
    margin-left: 10px;
    font-size: 0.95em;
}

.footer-content .social i {
    font-size: 2em;
}

.footer-content .social {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.footer-content .explore {
    margin-top: 10px;
}

#footer .footer-content .explore li {
    margin-bottom: 5px;
    font-size: 1.1em;
    font-weight: 500;
}

#footer .footer-content .social li {
    margin-left: 10px;
}

#footer .footer-content .address li {
    display: flex;
    margin-bottom: 5px;
}

#footer .footer-content .address .phone {
    margin-top: -20px;
}

#footer .footer-content .address li i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-right: 20px;
}

#footer .copy-right {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(55, 48, 56);
    color: lightgray;
    font-size:0.8em;
}