
a {
    text-decoration: none;
  }
  
  nav {
    display:flex;
    align-items: center;
    background-color:transparent;
    justify-content: space-between;
    padding: 2px 100px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 50;
    transition: all 0.3s ease-in-out;
  }

  .active {
    border-bottom: 1px solid lightgray;
  }

  .scrolling .active {
    border-bottom: 1px solid lightgray;
  }

  .scrolling {
    background-color:white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.062);
  }


  .scrolling .nav-bar li {
    margin-top: 0;
  }

  .scrolling .nav-bar li a {
    color:rgb(77, 77, 77) !important;
    text-shadow: none !important;
  }

  .scrolling .logo img {
    opacity: 1;
    height: 40px;
  }
  
  nav .nav-bar {
    display: flex;
    list-style: none;
    float: right;
  }
  
  nav .nav-bar li {
    padding: 0px 20px;
    margin-left: 20px;
    margin-top: 8px;
  }

  nav #mobile-menu {
    display: none;
    cursor: pointer;
    z-index: 10;
  }
  
  .nav-bar li a {
    color: white;
    font-weight:500;
    font-size: 0.95em;
    letter-spacing: 0.2em;
    display: inline-block;
    width: 100%;
    font-family: 'IBM Plex Serif';
    text-transform: uppercase;
    transition: all 0.3 ease-in-out;
    text-shadow: 0.5px 0 10px rgb(62, 62, 62);
  }

  .nav-bar li a i {
    margin-left: 5px;
  }

  .nav-bar li a:hover {
    border-bottom: 1px solid lightgray;
    cursor: pointer;
  }

  .scrolling .nav-bar li a:hover {
    border-bottom: 1px solid lightgray;
  }

  .logo img {
    height: 60px;
    filter: contrast(200%) drop-shadow(1px 1px 20px #efefef);;
    
  }

  .nav-bar .menu:hover + .dropdown-menu {
    display: block;
  }

  .nav-bar .dropdown-menu:hover {
    display: block;
  }

  .nav-bar .dropdown-menu {
    display: none;
    position: absolute;
    padding: 0;
  }

  .nav-bar .dropdown-menu::before {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 21px 25px 21px 0;
    border-color: transparent rgb(53, 53, 53);
    transform: rotate(90deg);
    position: absolute;
    top: 2.8%;
    margin-left: 8px;
  }

  .nav-bar .dropdown-menu .menu-space {
    padding: 20px;
  }

  .nav-bar .dropdown-menu .menu-box {
    padding: 20px;
    background-color: white;
    border: 1px solid black;
  }

  .nav-bar .dropdown-menu a {
    color: rgb(77, 77, 77);
    padding: 13px 20px;
    margin: 0;
    font-size: 0.9em;
    letter-spacing: 0.1em !important;
    text-shadow: none !important;
    background-color:white;
    border: 3px solid rgb(53, 53, 53);
    margin-top: 10px;
  }

  .nav-bar .dropdown-menu a:hover {
    background-color: rgb(53, 53, 53) !important;
    color: white !important;
    border: 3px solid rgb(53, 53, 53) !important;
  }

  .nav-bar .dropdown-menu a:nth-of-type(odd) {
    background-color: rgb(252, 252, 252);
  }

  .dropdown-menu .dropdown {
    display: block;
    margin: 10px 0px;
    padding: 5px 5px;
  }