
a {
    text-decoration: none;
  }
  
  nav {
    display:flex;
    align-items: center;
    background-color: burlywood;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  nav .nav-bar {
    display: flex;
    list-style: none;
    float: right;
  }
  
  nav .nav-bar li {
    padding: 5px;
  }

  nav #mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .nav-bar li a {
    color:white;
  }