
a {
    text-decoration: none;
  }
  
  nav {
    display:flex;
    align-items: center;
    background-color:white;
    justify-content: space-between;
    padding: 0 50px;
    color: black;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  nav .nav-bar {
    display: flex;
    list-style: none;
    float: right;
  }
  
  nav .nav-bar li {
    padding: 5px 20px;
    margin-left: 5px;
  }

  nav #mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .nav-bar li a {
    color:rgb(94, 15, 94);
    font-weight: 500;
    font-size: 0.9em;
    text-transform: uppercase;
    transition: all 0.3 ease-in-out;
  }

  .nav-bar li a:hover {
    color: rgb(151, 143, 151);
    border-bottom: 1px solid rgb(151, 143, 151);
  }

  .logo img {
    height: 50px;
  }

  .nav-bar .menu:hover + .dropdown-menu{
    display: block;
  }

  .nav-bar .dropdown-menu:hover {
    display: block;
  }

  .nav-bar .dropdown-menu {
    display: none;
    position: absolute;
    background-color:whitesmoke;
    padding: 10px;
  }
  
  .dropdown-menu .dropdown {
    display: block;
    margin: 10px 0px;
    padding: 5px 5px;
  }