@media all and (max-width: 960px) {
    nav #mobile-menu{
        display:block;
        font-size: 2em;
        color: white;
        text-shadow: 0 0 2px black, 0 0 2px black;
    }

    .scrolling #mobile-menu{
        color: black;
        text-shadow: none;
    }

    nav {
        padding: 0 20px !important;
    }

    nav .nav-bar {
        position: absolute;
        display:none;
        top:0;
        right:0;
        margin:0;
        padding: 60px 0 0 0;
        background-color: white;
        height: 150vh;
        width: 50%;
        transform: translateX(500px);
        transition: 0.3s ease-in-out;
        opacity: 0;
        animation: fadein 0.3s ease-in;
    }

    .nav-bar li {
        padding: 12px !important;
    }

    .nav-bar li a {
        color: black !important;
    }

    .nav-bar .dropdown-menu:hover {
        display:none !important;
    }

    .nav-bar .menu:hover + .dropdown-menu{
        display: none !important;
      }

    #footer{
        padding: 10px !important;
    }

    /* Home Page */

    .hero h1{
        font-size: 2em !important;
        margin-bottom: 20px !important;
    }

    .hero p {
        display: none;
    }

    .between h2 {
        font-size: 2em !important;
    }

    .between p {
        width: 100% !important;
        font-size: 0.9em !important
    }

    .scrolltop h2 {
        font-size: 2em !important;
    }

    .panel {
        flex-direction: column;
        padding: 0;
        text-align: center;
    }

    #panel2 {
        flex-direction:column-reverse;
    }

    .panel p {
        display: none;
    }

    .panel .text {
        width: 80% !important;
    }

    .panel img {
        width: 90% !important;
    }

    .panel .image {
        width: 80% !important
    }

    .hero p {
        width: 70% !important;
      }

      .between p {
        width: 70% !important;;
      }

    .between p {
        padding: 0 !important;
    }

    .quote .bubble {
        width: 90% !important;
    }

    /* Project */

    #project {
        padding: 80px 10px 20px 10px !important;
    }

    #project .row {
        flex-direction: column;
    }

    #project .box {
        width: 90% !important;
    }

    #project .box h3 {
        left: 20px !important;
        bottom: 10px !important;
    }

    /* Services */

    #services .services-header {
        font-size: 2em !important;
    }

    #services .services-section {
        padding: 100px 0 !important;
    }

    #services .services-section .service {
        width: 100% !important;
        margin-bottom: 20px !important;
    }

    #services .services-section .right {
        flex-direction: column;
    }

    #services .services-section img {
        width: 100% !important;
    }

    #services .services-section .text {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 5px !important;
    }


    .services-section .service .text h2{
        font-size: 2em !important;
    }

    .services-section .service .text p{
        font-size: 1em !important;
    }

    #services .services-section .left {
        flex-direction:column-reverse;
    }

    /* Single Project */

    #single-project {
        padding: 80px 20px 80px 20px !important;
    }

    #single-project .carousel  {
        width: 100% !important;
    }

    #single-project .sliderimage {
        height: 300px !important;
    }

    #single-project .text p {
        width: 100% !important;
    }

    /* Contact */

    #contact .contact-header {
        font-size: 1.5em !important;
        padding: 50px 20px 10px 20px !important;
    }

    #contact .contact-main .company-info {
        flex-direction: column;
    }

    #contact .company-info .text {
        width: 100% !important;
        padding: 50px 15px !important;
    }

    #contact .company-info img {
        width: 100% !important;
        border-radius: 0px !important;
    }

    #contact .company-contact {
        flex-direction: column;
    }

    #contact .company-contact .company-box {
        width: 100% !important;
        border-right: none;
        border-left: none;
    }

    #contact .company-contact #map {
        width: 100% !important;
    }

    /* About */

    #about .main-content {
        padding: 20px !important;
    }

    /* Individual services */

    #design {
        padding: 70px 10px !important;
    }

    #design img {
        width: 100% !important;
    }

    #design .banner {
        padding: 0 !important;
    }

    .banner p {
        width: 90% !important;
    }

        /* Footer */

    .footer {
        flex-direction: column;
        padding: 60px 10px !important;
    }

    #footer .footer-content {
        width: 100% !important;
        text-align: center;
    }
    
    #footer .footer-content .explore {
        display: flex;
        flex-direction: row;
    }

    #footer .footer-content .address {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #footer .footer-content .address i {
        display: none !important;
    }

    #footer .footer-content .explore li {
        margin-left: 10px;
    }
}