#footer {
    background-color: rgb(34, 33, 33);
}

.footer{
    display:flex;
    justify-content:space-evenly;
    padding: 70px 80px 80px 80px;
    background-color: white;
    color: grey;
}

.footer-content {
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content h2 {
    margin-top: -60px;
    color: rgba(23, 6, 57, 0.573);
    font-size: 6em;
    text-transform: uppercase;
}

.footer-content h3 {
    color: black;
    font-size: 1.3em;
    text-transform: uppercase;
}

.footer-content #first-title {
    letter-spacing: 0.7em;
    font-size: 2em;
    margin-left: 20px;
}

.footer-content #second-title {
    margin-top: -90px;
    font-size: 1.4em;
    margin-left: 10px;
}

.footer-content h4 {
    color: lightgray;
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

.footer-content ul {
    list-style: none;
    margin:0;
    padding: 0;
}

.footer-content ul li a {
    text-decoration: none;
    color: grey;
    transition: all 0.3 ease-in-out;
}

.footer-content ul li a:hover {
    color: lightslategray;
}

.footer-content ul {
    margin-left: 10px;
    font-size: 0.95em;
}

.footer-content .social i {
    font-size: 5em;
}

.footer-content .social {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.footer-content .explore {
    margin-top: 10px;
}

#footer .footer-content .explore li {
    margin-bottom: 5px;
    font-size: 1.1em;
    font-weight: 500;
}

#footer .footer-content .social li {
    margin-left: 10px;
}

#footer .footer-content .address li {
    display: flex;
    margin-bottom: 5px;
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    text-shadow: 0.5px 0.5px 1px lightblue;
}

#footer .footer-content .address .phone {
    margin-top: -20px;
}

#footer .footer-content .address li i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    margin-right: 20px;
    color: slategray;
}

#footer .copy-right {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: whitesmoke;
    color: black;
    font-size:0.8em;
}