#project {
    padding: 80px 40px 20px 40px;
    min-height: 100vh;
}

#project .box {
   width: 33%;
   padding: 10px;
   position: relative;
   overflow: hidden;
   text-transform: uppercase;
}

#project .box img {
    width: 100%;
    transition: transform .5s ease;
}
#project .row {
    display: flex;
    align-items: center;
}

#project .box img:hover {
    transform: scale(1.5);
}

#project .button {
    padding: 10px 25px;
    border-radius: 50%;
    font-size: 2em;
    border: 10px ridge white;
    background-color: lightgray;
    color:white;
    transition: all 0.3s ease-in-out;
}

#project .button:hover {
    background-color:rgb(68, 68, 68);
    color: white;
}

#project .button-area {
    padding: 30px;
}

#project .box h3 {
    position: absolute;
    left: 25px;
    bottom: 25px;
    color: white;
    text-shadow: 0 0 5px black;
}