#project {
    padding: 20px 40px;
}

#project .box {
   width: 33%;
   padding: 10px;
   position: relative;
   overflow: hidden;
   text-transform: uppercase;
}

#project .box img {
    width: 100%;
    transition: transform .5s ease;
}
#project .row {
    display: flex;
    align-items: center;
}

#project .box img:hover {
    transform: scale(1.5);
}

#project .button {
    padding: 10px 30px;
    text-transform: uppercase;
    border-radius: 25px;
    font-size: 1.3em;
    background-color: rgb(151, 143, 188);
    color:white;
    transition: all 0.3s ease-in-out;
}

#project .button:hover {
    background-color: rgb(139, 139, 139);
}

#project .button-area {
    padding: 30px;
}

#project .box h3 {
    position: absolute;
    left: 25px;
    bottom: 25px;
    color: white;
}